.notfound {
    display: flex;
    justify-content: center;
}

.mainPage-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    display: flex;
    justify-content: center;
    align-items: middle;
}

.top img {
    height: 8vh;
    margin: 0 2vw
}

.top h1 {
    color: red;
}