/* Page not found */
.notfound {
    display: flex;
    justify-content: center;
}
/* -------------- */

/* Main Page */
.mainPage-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainPage-form h2{
    color: red;
}
/* -------------- */

/* Title / Top */
.top {
    display: flex;
    justify-content: center;
    align-items: middle;
    height: 10vh;
    /*border: black solid 2px;*/
}

.top img {
    height: 8vh;
    margin: 0 2vw
}

.top h1 {
    color: red;
}
/* -------------- */

/* Search */
.search {
    display: flex;
    justify-content: center;
    align-items: middle;
    height: 15vh;
    /*border: black solid 2px;*/
}

.search > div {
    margin: 0 1vw;
}

.search div p {
    text-align: center;
    margin: 1vh 0 0 0;
}

.search input {
    text-align: center;
}
/* -------------- */

/* Div Inventory / Full / Map */
.div-bot {
    display: flex;
}
/* -------------- */

/* Toad Inventory*/
.toad-inventory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: middle;
    height: 73vh;
    width: 23vw;
    border: black solid 2px;
}

.toad-inventory h2{
    text-align: center;
}

.toad-inventory-ul {
    width: 100%;
    padding: 0;
    height: 60vh;
    overflow: auto;
}

.toad-inventory-list {
    display: flex;
    align-items: center;
    list-style: none; 
    border: black 1px solid;
    border-radius: 20px;
    margin: 2vh;
    width: 20vw;
}

.toad-inventory-list img {
    width: 5vw;
}

.toad-inventory-list > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 2vh;
    width: 15vw;
}

.toad-inventory-list > div > p {
    text-align: center;
    margin: 0.5vh 0;
}

.toad-inventory-name {
    text-align: center;
    margin: 0.5vh 0;
}
/* -------------- */

/* Toad Inventory*/
.toad-full {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: middle;
    height: 73vh;
    width: 23vw;
    border: black solid 2px;
    border-left: none;
    text-align: center;
}

.toad-full-close {
    display: flex;
    justify-content: flex-end;
}

.toad-full h3, .toad-full h4, .toad-full > div {
    margin: 1vh 0 0 0;
}

.toad-full p{
    margin: 0;
}

.toad-full-desc {
    margin: 5vh 0 0 0;
}

.toad-full button {
    margin: 2vh 0 0 0;
}

/* -------------- */

/* New Toad*/
.toad-new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: middle;
    height: 73vh;
    width: 23vw;
    border: black solid 2px;
    border-left: none;
}

.toad-new p {
    margin: 2vh 0 0 0;
    font-weight: bold;
}

.toad-new button {
    margin: 2vh 0 0 0;
    font-weight: bold;
}

/* -------------- */

